
/* The animation code */
@keyframes animation {
    0% {background-color: darkslateblue;}
    25% {background-color: rgb(24, 20, 47);}
    50% {background-color: rgb(19, 16, 37);}
    75% {background-color: rgb(1, 1, 2);}
    100% {background-image: url(../images/dict-background.jpg);}
  }

body{
    margin-left: 1vh;
    margin-right: 1vh;
    background-color: darkslateblue;
    animation-name: animation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /* animation */
    min-height: 500px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-size: 2.4vh;
    color: azure;
    padding: 0.5vh;
    line-height: 1.3;
    font-family: "Libre+Baskerville", serif;
}

ul{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    font-family: 'Inconsolata', serif;
}

p{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: 'Inconsolata', serif;
}

img{
    width: 100%;
    padding: 2vh;
    margin: auto;
    /* border: dashed darkgray 0.5vh; */
    display: block;
    /* border-radius: 10%; */
}

img:hover{
    opacity: 1;
}

div img {
    width: 50%;
 }

div img:nth-child(2n){
    width: 50%;
}

/* div{    
    text-align: center;
} */


h3{
    font-size: 2vh;
    font-style: italic;
    padding-top: 1vh;
    padding-bottom: 0.5vh;
}

div h3{
    padding-left: 1vh;
}

h2, dt{
    font-weight: bold;
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}



h1{
    text-transform: uppercase;
    font-size: 4vh; 
    /* 70px */
    font-weight: bold;
    padding: 4vh;
}

nav ul li{
    /* display: inline-block; */
    margin: auto;
    padding: 1vh;
    text-align: left;
    font-family: "Libre+Baskerville", serif;
}

nav ul li a{
    color: lightblue;
    text-transform: uppercase;
}

nav{
    background-color: rgb(46, 40, 87, 0.8);
}


.active{
    text-decoration: underline wavy lightblue 0.2vh;
    color: whitesmoke;
    font-size: 3vh;
    text-transform: uppercase;
}

a.skip, a.tops, p a{
    color:lightgray;
}

.skip{
    /* visibility: hidden; */
    position: absolute; 
    left: -30px;
    top: -30px;
}

.skip:focus{
    /* visibility: visible; */
    position: relative; 
    left: 2vh;
    top: 1vh;
    margin-bottom: 2vh;
}

footer{
    margin-top: 3vh;
}

/* grid container */
.container, dl{ 
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    row-gap: 2vh;
  }

dl{
    background-color: rgba(20, 20, 22, 0.6);
}

 /* flex container */
.container div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .person{
    background-color: rgba(20, 20, 22, 0.6);
    }

.container .person:nth-child(2n+1)  {
    background-color: rgba(47, 47, 117, 0.4);
    }

/* .container .about:nth-child(2n+1)  {
        background-color: rgba(47, 47, 117, 0.4);
    } */
    

.container div img{
    width: auto;
    max-height: 200px;
    border: 0.2vh solid darkgray;
    border-radius: 4px;
    padding: 1vh;
    background-size: cover;
    order:1;
    align-self: flex-start;
}

.container div p, ul li{
    flex-shrink: 1.3;
    padding-left: 2vh;
    padding-right: 2vh;
}

.keywork ul li{
    display: inline-block;
}

/* .container div ul{
    padding-left: 10px;
} */

.container div h2{
    padding: 1vh;
    margin: 2vh;
}

dt{
    border: 0.2vh solid darkgray;
    padding-left: 2vh;
    /* background-color: rgba(47, 47, 117, 0.4); */
}

.intro{
    background-color: rgba(20, 20, 22, 0.6);
    }
  
/* tablet portrait mode */
@media only screen and (min-width: 768px){

    h1{
        text-transform: uppercase;
        font-size: 8vh; 
        font-weight: bold;
        padding: 4vh;
    }

    h3{
        font-size: 3vh;
        font-style: italic;
        padding-top: 1vh;
        padding-bottom: 0.5vh;
    }
    
    div h3{
        padding-left: 1vh;
    }
    
    h2, dt{
        font-weight: bold;
        font-size: 4vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    
    body{
        font-size: 2.6vh;
    }

    .active{
        text-decoration: underline wavy black 0.2vh;
        color: whitesmoke;
        font-size: 3.5vh;
        text-transform: uppercase;
    }

    .container div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(20, 20, 22, 0.6);
    }
/*     
    .container .about{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
    }
    
    .container .keywork{
        display: flex;
        flex-direction: row;
        justify-items:baseline;

        width: 15%;
    } 
    */

    nav ul li{
        font-size: 2.5vh;
        display: inline-block;
        margin: auto;
        padding: 1vh;
        text-align: left;
        font-family: "Libre+Baskerville", serif;
    }
}


/* tablet landscape mode and laptop mode */
@media only screen and (min-width: 1024px){

    h1{
        text-transform: uppercase;
        font-size: 10vh; 
        font-weight: bold;
        padding: 4vh;
    }

    h3{
        font-size: 3vh;
        font-style: italic;
        padding-top: 1vh;
        padding-bottom: 0.5vh;
    }
    
    body{
        font-size: 2.8vh;
    }

    div h3{
        padding-left: 1vh;
    }
    
    h2, dt{
        font-weight: bold;
        font-size: 5vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }    

    .active{
        text-decoration: underline wavy black 0.2vh;
        color: whitesmoke;
        font-size: 3.5vh;
        text-transform: uppercase;
    }

    .container div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgba(20, 20, 22, 0.6);
    }
    
    .container .about{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* background-color: rgba(20, 20, 22, 0.6); */
        width: 40%;
    }

    .container .keywork{
        display: flex;
        flex-direction: column;
        justify-items:baseline;
        /* background-color: rgba(20, 20, 22, 0.6); */
        /* overflow: scroll; */
        /* max-height: 200px; */
        width: 25%;
    }

    nav ul li{
        font-size: 3.2vh;
        display: inline-block;
        margin: auto;
        padding: 3vh;
        text-align: left;
        font-family: "Libre+Baskerville", serif;
    }
}


@media screen and (prefers-reduced-motion: reduce){
  
    /*Turn off transition*/
    body {
    animation:none;
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
    }
  }